{# --------------------------------- Blog Category Form Type --------------------------------- #}
{% block _blog_category_type_errors %}
{% spaceless %}
	{{ block('form_errors')  }}
{% endspaceless %}
{% endblock %}

{% block _blog_category_type_widget %}
{% spaceless %}

	{{ form_errors(form) }}

	<div class="row">
		<div class="col-xs-6">
			{{ form_row(form.name) }}
		</div>
		<div class="col-xs-3">
			{{ form_row(form.isEnabled) }}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			{{ form_row(form.parent) }}
		</div>
		<div class="col-sm-3">
			{{ form_row(form.menuOrder) }}
		</div>
	</div>

	<input type="submit" class="btn btn-primary" alue="Save" />
{% endspaceless %}
{% endblock %}